{% extends "base.html" %}

{% block content %}

<h1>
    How much do you like...
</h1>

<h2>
    Dark Comedy
</h2>
  <form class="form-inline" role="form" method="POST">
      <input type="radio" name="dark" value="0">Not at all
        <input type="radio" name="dark" value="10">A little
      <input type="radio" name="dark" value="30">Somewhat
      <input type="radio" name="dark" value="70">A lot
      <input type="radio" name="dark" value="100">I embarace the darkness


<h2>
    Crass
</h2>
    <input type="radio" name="crass" value="0">Not at all
    <input type="radio" name="crass" value="10">A little
    <input type="radio" name="crass" value="30">Somewhat
    <input type="radio" name="crass" value="70">A lot
    <input type="radio" name="crass" value="100">F*ck Yeah!


<h2>
    Stand up
</h2>


    <input type="radio" name="stand_up" value="0">Not at all
    <input type="radio" name="stand_up" value="10">A little
    <input type="radio" name="stand_up" value="30">Somewhat
    <input type="radio" name="stand_up" value="70">A lot
    <input type="radio" name="stand_up" value="100">Most


<h2>
    Satire
</h2>

    <input type="radio" name="satire" value="0">Not at all
    <input type="radio" name="satire" value="10">A little
    <input type="radio" name="satire" value="30">Somewhat
    <input type="radio" name="satire" value="70">A lot
    <input type="radio" name="satire" value="100">Most
    


<h2>
   Dry
</h2>


    <input type="radio" name="dry" value="0">Not at all
    <input type="radio" name="dry" value="10">A little
    <input type="radio" name="dry" value="30">Somewhat
    <input type="radio" name="dry" value="70">A lot
    <input type="radio" name="dry" value="100">Most


<h2>
   Sketch/Improv
</h2>


 
    <input type="radio" name="sketch_improv" value="0">Not at all
    <input type="radio" name="sketch_improv" value="10">A little
    <input type="radio" name="sketch_improv" value="30">Somewhat
    <input type="radio" name="sketch_improv" value="70">A lot
    <input type="radio" name="sketch_improv" value="100">Most
    


<h2>
   Topical
</h2>


 
    <input type="radio" name="topical" value="0">Not at all
    <input type="radio" name="topical" value="10">A little
    <input type="radio" name="topical" value="30">Somewhat
    <input type="radio" name="topical" value="70">A lot
    <input type="radio" name="topical" value="100">Most
    


<h2>
   Slapstick
</h2>


 
    <input type="radio" name="slapstick" value="0">Not at all
    <input type="radio" name="slapstick" value="10">A little
    <input type="radio" name="slapstick" value="30">Somewhat
    <input type="radio" name="slapstick" value="70">A lot
    <input type="radio" name="slapstick" value="100">Most

<h2>
   Surreal
</h2>


  
    <input type="radio" name="surreal" value="0">Not at all
    <input type="radio" name="surreal" value="10">A little
    <input type="radio" name="surreal" value="30">Somewhat
    <input type="radio" name="surreal" value="70">A lot
    <input type="radio" name="surreal" value="100">Most
   


    


<h2>
   Pardoy
</h2>


  
    <input type="radio" name="pardoy" value="0">Not at all
    <input type="radio" name="pardoy" value="10">A little
    <input type="radio" name="pardoy" value="30">Somewhat
    <input type="radio" name="pardoy" value="70">A lot
    <input type="radio" name="pardoy" value="100">Most
      <br>
 <button type="submit" class="btn btn-default">Submit</button>      
</form>



<a href="{{url_for('prefereences_get2')}}">Edit Perferences</a>
{% endblock %}